@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
 

:root{

    --second-gradient: linear-gradient( 180deg,
            var(--bg-color-alt) 0%, 
            var(--bg-color) 100%
     );
     --third-gradient: linear-gradient( 180deg,
            var(--bg-color-alt) 0%, 
            var(--bg-color) 100%
     );

     /* TYPOGRAPHY */

     --body-font: "Madimi One", sans-serif;
     --second-font: "Palanquin", sans-serif;
        }


.image {
    width: 250px;

}
.navBox {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ordernav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.listmenu {
    margin-left: 20px;
    font-size: 20px;
    font-family: var(--body-font);
   
    transition: all .6s ease;
    
}
.listmenu:hover {
    text-decoration: underline;
    transform:scaleX(0);
}
.contacts {
  font-family: var(--body-font);
  font-size: 20px;
}


@media screen and (max-width: 680px) {
     .na
     .logo {
        width: 100px;
     }
     .items {
        display:none;
     }
  }