#navbar {
    margin-top: 30px;
    padding-top: 0%;
    background-color: rgb(56, 47, 40) !important;
    

 }
 .nav-link {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger !important;
    padding-left: 40px !important;
    
    color: rgb(184, 173, 151) !important;
 }