.links {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.footer {
   
    margin-bottom: 30px;
    padding-top: 0% 0%;
    margin-bottom: -10% -10%;
    background-color: rgb(194, 163, 139) !important; 
    width: 100%;
    align-items: center;
 }
 