.jumbo-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  max-height: 500px;
}

/* Centered text */
.centered {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-image {
  position: absolute;
  max-height: 70px;
  top: 200px;
  left: 580px;
}