.jumbo-image {
  background-image: url('path/to/jumbotron-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

/* Centered text */
.centered {
  color:aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-image {
 
  max-height: 100px;
  
}
