@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
 

:root{

    --second-gradient: linear-gradient( 180deg,
            var(--bg-color-alt) 0%, 
            var(--bg-color) 100%
     );
     --third-gradient: linear-gradient( 180deg,
            var(--bg-color-alt) 0%, 
            var(--bg-color) 100%
     );

     /* TYPOGRAPHY */

     --body-font: "Madimi One", sans-serif;
     --second-font: "Palanquin", sans-serif;
        }
       
        .button-next {
            background-color: rgb(194, 163, 139) !important; 

        }




.holder {
    font-family: var(--body-font);
    margin: 10px;
    padding: 10px;
    background-color: rgb(194, 163, 139) !important; 
    align-items: center;
  display: block;
  margin: auto;
  margin-top: 10px;
  
    
}
.list-name {
    list-style: none;
    font-family: var(--body-font);
    color: rgb(6, 63, 83);
    margin-right: 3px;
}
h2 {
    font-family: var(--body-font);
}
.query-name {
    font-size: xx-large;
    font-family: var(--second-font);
}
.button-next  {
    background-color: rgb(194, 163, 139) ;
    border-radius: 15px;
}

.final-score {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    background-color: rgb(194, 163, 139) ;
}
h1, h2, p{
    font-family: 'Courier New', Courier, monospace;
}